<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @cost.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cost.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cost.price %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
