<div class="container">
  <h1 class="text-center"> All Orders </h1><br>
</div>
 <div class="container">
  <div class="row txt-design">
    <% @orders.each do |item| %>
      <% if item.finish.present?%>
      <div class="card text-white bg-success mb-3 " style="width: 17rem; color:red;">
        <%= link_to view_path(order_id: item), style:"text-decoration:none" do%>
         <div class="card-body" style="color:white">
          <h4 class="card-title">Order No: <%= item.no %></h4>
          <h6 class="card-title">Address: <%= item.address%></h6>
          <h6 class="card-title">Telefone: <%= item.telephone %></h6>          
         </div>
        <footer>
          <p style="color:white">Time: <%= item.date %></p> 
        </footer>
       <% end %>
      </div>
      <% else %>
        <div class="card text-white bg-warning mb-3" style="width: 17rem;">
        <%= link_to view_path(order_id: item), style:"text-decoration:none" do%>
         <div class="card-body" >
          <h4 class="card-title">Order No: <%= item.no %></h4>
          <h6 class="card-title">Address: <%= item.address%></h6>
          <h6 class="card-title">Telefone: <%= item.telephone %></h6>          
         </div>
        <footer>
          <p>Time: <%= item.date %></p> 
        </footer>
       <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
 </div>