<div class="container">
 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("fast.jpg", style:"width: 1120px")%>
      <div class="carousel-caption d-none d-md-block" style="background-color: rgba(162, 164, 164, 0.64); font-family:fantasy;">
        <h3 style="font-size:xxx-large"> FAST FOOD ORDER </h3>
         <%= link_to "ORDER ONLINE NOW", store_index_path ,style: "color:white"%>
      </div>
    </div>
   </div>
</div>
<br>

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <i class="fa fa-truck" aria-hidden="true" style="font-size:60px; padding-left: 120px"></i>
        <br><br>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <h5 class="card-title text-center"><%=link_to "Order NOW!", store_index_path, class:"btn btn-outline-dark"%></h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <i class="fa fa-phone-square" aria-hidden="true" style="font-size:60px; padding-left: 130px"></i>
        <br><br>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <h5 class="card-title text-center"><%= link_to "Contact", contact_path, class:"btn btn-outline-dark"%></h5>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
       <i class="fa fa-users" aria-hidden="true" style="font-size:60px; padding-left: 130px"></i>
        <br><br>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <h5 class="card-title text-center"><%= link_to "Staff", users_path, class:"btn btn-outline-dark"%></h5>
      </div>
    </div>
  </div>
</div>

<footer style="background-color: black">
  <br>
  <p class="text-center" style="color: white;"><strong>company: Fetosoft</strong> <i class="fa fa-copyright" aria-hidden="true" ></i> </p>
  <p class="text-center" style="color: white;"> junior developer: Osman Selimi</p>
  <br> 
</footer>