<div class="card mx-5 my-5">
  <div class="card-header">
    <h6 class="card-title">Date: <%= @order.date%></h6>
  </div>
  <div class="card-body">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
       <th scope="col">User</th>
      <th scope="col">Quantity</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  <% @order.order_items.each do |item| %>
    <tr>
      <th scope="row"></th>
      <td><%= @order.user.name %></td>
      <td><strong><%= item.quantity %></strong></td>
      <td><%= item.product.name %></td>
      <td><%= item.product.price %></td>
      <td><%= item.total_price %></td>
    </tr>
<% end %>
  </tbody>
</table>
    <%= link_to 'Back', :back, class:'btn btn-danger'%>
    <h4 style="float:right"><strong>Total price: <%= @order.total_price %>mkd</h4></strong>
   </div>
  </div>
</div>